<div class="alert alert-danger" role="alert">
  {{field}} is {{rule}}
  <button type="button" class="close pointer" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>